In [1]:
print("Hi \"there\"")

Hi "there"

In [2]:
print("""Hi "there" good 'boy'""")

Hi "there" good 'boy'

In [3]:
print(""" spanning
 multiple
  lines
""") #that's the use of triple-quotes. It allows multi-line code

 spanning
 multiple
  lines

In [4]:
print(""
hello
"") # multi-lines not allowed in double quotes

SyntaxError: invalid syntax (<ipython-input-4-504ef54d2bff>, line 2)

In [5]:
name = input('Enter name:')

Enter name:Nikhil

In [7]:
print('Welcome', name)

Welcome Nikhil

In [8]:
type(name)

str

In [9]:
x = input('Enter number:')

Enter number:12

In [10]:
type(x)

str

In [14]:
x = int(input('Enter number:'))

Enter number:8

In [15]:
type(x)

int

In [16]:
y = float(input('Enter number:'))

Enter number:12.5

In [17]:
type(y)

float

In [18]:
min(4, 55, 66)

4

In [19]:
min(4, 4.0)

4

In [20]:
min(4, 5.0)

4

In [22]:
max(4, 3 + 1.0 + 0.1)

4.1

In [23]:
z = float(input('Enter number:'))

Enter number:39.5

In [26]:
if z<50:
    print('Less than 50')
elif z>=50:
    print('Equal to or greater than 50')

Less than 50

In [27]:
result = ('Less than 50' if z<50 else 'Equal to or greater than 50')

result

'Less than 50'

In [28]:
range(10)

range(0, 10)

In [29]:
print(f'The result is {result}')

The result is Less than 50

In [39]:
x=10.58741

print(f'{x:.2f}') # round to 2 digits after decimal

print(f'{x:.4f}')

print(f'{x}')

print(f'{x:0.7f}')

10.59
10.5874
10.58741
10.5874100

In [40]:
x = 89.54

print(x)

print(f'{x:.20f}') #see the extra numbers mentioned after the decimal. Shows it's not very accurate

89.54
89.54000000000000625278

In [2]:
from decimal import Decimal

In [11]:
principal = Decimal('123.45457')

principal

Decimal('123.45457')

In [12]:
months = Decimal('12')

In [13]:
principal / months

Decimal('10.28788083333333333333333333')

In [19]:
x_1 = 123.45457 / 12

In [ ]:
# See the difference in the last digits after decimal in the below two expressions

In [20]:
print(f'{principal / months: .20f}')

 10.28788083333333333333

In [21]:
print(f'{x_1: .20f}')

 10.28788083333333425173

In [22]:
answer = principal / months

In [28]:
for numerator in range(1, 10, 1):
    print(f'{numerator/13:>3}')

0.07692307692307693
0.15384615384615385
0.23076923076923078
0.3076923076923077
0.38461538461538464
0.46153846153846156
0.5384615384615384
0.6153846153846154
0.6923076923076923

In [34]:
for numerator in range(1, 15, 1):
    print(f'{numerator:>20} {numerator/13:>10.4f}')
    
    # 4 digits to the right of the decimal, and total 10 digits including decimal point
    # also you can see that numbers 1 to 14 are right-aligned with a total space of 20

                   1     0.0769
                   2     0.1538
                   3     0.2308
                   4     0.3077
                   5     0.3846
                   6     0.4615
                   7     0.5385
                   8     0.6154
                   9     0.6923
                  10     0.7692
                  11     0.8462
                  12     0.9231
                  13     1.0000
                  14     1.0769

In [35]:
import statistics

In [38]:
statistics.mean([1,2,3,4,5,6])

3.5

In [39]:
statistics.median([1,2,3,4,5,6,7])

4

#### Sorted v/s Sort

In [41]:
x = [3,2,1]

sorted(x) # this does not change original list

[1, 2, 3]

In [42]:
x

[3, 2, 1]

In [43]:
x = [3,2,1]

In [44]:
x

[3, 2, 1]

In [45]:
x.sort() # this changes original list

In [46]:
x

[1, 2, 3]

### Functions

In [47]:
def square(n):
    """ Function to calculate square of a number """
    return n*n

In [48]:
square(5)

25

In [49]:
square? #executing this will give you a description of the function square using its docstring

In [50]:
min('orange', 'red')

'orange'

In [51]:
min('orange')

'a'

In [54]:
min(11) #this will give error

TypeError: 'int' object is not iterable

In [55]:
import random

In [64]:
stored_roll = {}

for rolldice in range(1,10):
    
    value = random.randrange(1,7)
    
    if value in stored_roll.keys():
        stored_roll[value] += 1
    else:
        stored_roll[value] = 1
    
    print(value)
    print(stored_roll)

5
{5: 1}
2
{5: 1, 2: 1}
3
{5: 1, 2: 1, 3: 1}
3
{5: 1, 2: 1, 3: 2}
4
{5: 1, 2: 1, 3: 2, 4: 1}
4
{5: 1, 2: 1, 3: 2, 4: 2}
2
{5: 1, 2: 2, 3: 2, 4: 2}
2
{5: 1, 2: 3, 3: 2, 4: 2}
2
{5: 1, 2: 4, 3: 2, 4: 2}

In [65]:
# random.seed(10) #this ensures that same random numbers are generated every time

In [66]:
# Using "in" operator in tuples

x=2

if x in (1, 2, 3):
    print('Yes man!')

Yes man!

In [67]:
a = 1, 2, 3 # this is a tuple. In Python, the concept of defining a tuple is driven by use of commas not brackets

type(a)

tuple

In [68]:
b = 1, 2, 3, ['a', 'b', 'c']

type(b)

tuple

In [70]:
def rec_area(length=2, width=4): #defining a function with default values
    return length*width

In [71]:
rec_area() # calling with no parameters; i.e. using default parameters

8

In [72]:
rec_area(10) # calling only with one parameter; it becomes the 1st argument by default based on position

40

In [73]:
rec_area(width=9) #using a keyword while calling the function

18

In [74]:
def rec_perimeter(length, width=5): # by mentioning 'length' without any value, it becomes mandatory to be passed
    return (2*length) + (2*width)

In [76]:
rec_perimeter(width=3) #this will give error because length is mandatory

TypeError: rec_perimeter() missing 1 required positional argument: 'length'

In [77]:
rec_perimeter(2, 3)

10

In [79]:
rec_perimeter(1) #the first argument is taken as length which is mandatory

12

In [80]:
def sum_func(*args): #defining a function with variable number of arguments
    return sum(args)

In [81]:
sum_func(1,2,3)

6

In [82]:
sum_func(1,2,3,4,5)

15

In [85]:
numbers = [5, 6, 7]

sum_func(*numbers) # calling sum function for a pre-defined list. '*' is mandatory, otherwise it will give error

18

In [86]:
sum_func(*range(1,5))

10

In [91]:
"""
This shows how x=10 is global variable, and is not accessible within the function 'double' by default.

A local variable x=3 is created within the function
"""

x = 10

def double():
    x = 3
    print(f'Double the value is: {2*x}')
    
double()

print(f'Global x:{x}') # accessing x outside the function returns global value

Double the value is: 6
Global x:10

In [95]:
y = 'abc'

def modify_y():
    global y    # this is how you access the global value of y
    y = 'def'    
    print(f'y value inside function is:{y}')

    
print(f'y outside function is: {y}')

modify_y()

print(f'y outside function is: {y}') # now the value of y is changed globally

y outside function is: abc
y value inside function is:def
y outside function is: def

In [96]:
a=1
b=2
c=[55,66,77,88,99]
c[a+b]

88

In [99]:
y=[]

for num in range(1,6):
    y += [num]
    
print(y)

[1, 2, 3, 4, 5]

In [103]:
characters = []

characters += 'ABCDEFGH'

characters

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [106]:
x=list('this is good')
x

['t', 'h', 'i', 's', ' ', 'i', 's', ' ', 'g', 'o', 'o', 'd']

In [108]:
a = 11,22,33, [444,555,666]

a[1]=44 # tuples are immutable, hence the error

TypeError: 'tuple' object does not support item assignment

In [109]:
a[3][0]=999 #but mutable items inside a tuple can be modified

a

(11, 22, 33, [999, 555, 666])

In [112]:
z = 99, # single element tuple

type(z)

tuple

In [113]:
num1, num2, num3 = range(1,4)

print(num1, num2, num3)

1 2 3

In [114]:
a,b = 'hi'

print(a,b)

h i

In [116]:
a,b = ('hi', 'there')

print(a,b)

hi there

In [117]:
x = ['red', 'orange', 'blue']

list(enumerate(x))

[(0, 'red'), (1, 'orange'), (2, 'blue')]

In [119]:
tuple(enumerate(x))

((0, 'red'), (1, 'orange'), (2, 'blue'))

In [121]:
a=[1,2,3,4,5,6,7,8]

# How to assign 0 to last 3 digits?

a[5:] = [0] # this replaces all the elements from index 5 onwards with a single element 0. Now what we wanted

a

[1, 2, 3, 4, 5, 0]

In [125]:
a=[1,2,3,4,5,6,7,8]

# So basically we want as many 0s as there are number of elements to be replaced

a[5:] = [0] * len(a[5:]) # This means that on the right side it should be an iterable

a

[1, 2, 3, 4, 5, 0, 0, 0]

In [127]:
a.index(2) #return the index where value '2' occurs for the first time

1

In [128]:
if 2 in a:
    print('True')

True

In [131]:
a=[1,2,3,4,5,6,7,8]

a[:] = [] #assigning blank list makes the whole list blank

print(a)

a=[1,2,3,4,5,6,7,8]

a.clear() #another way to clear the whole list

print(a)

[]
[]

#### Shallow copy v/s Deep copy

In [133]:
a = [1,2,3]

id(a)

18120456

In [134]:
b = a.copy()

id(b)

18252424

In [135]:
c=[1,2,3,[77,88,99]]

id(c)

18135840

In [136]:
d = c.copy()

id(d)

18118216

In [137]:
import copy

In [138]:
e = copy.deepcopy(c)

id(e)

18254384

In [140]:
[(x, x**2) for x in range(1,6)] # list comprehension

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

#### List Comprehensions v/s Generators

In [141]:
"""
List comprehensions are greedy. They immediately evaluate to produce the list.
Generator expressions are lazy. They produce results on demand.

This makes Generators less memory-intensive.

"""

'\nList comprehensions are greedy. They immediately evaluate to produce the list.\nGenerator expressions are lazy. They produce results on demand.\n\nThis makes Generators less memory-intensive.\n\n'

In [142]:
a = [1,2,3,4,5,6]

for x in ( x**2 for x in a): # this is a generator
    print(x)

1
4
9
16
25
36

In [144]:
gen = ( x**2 for x in a)

type(gen)

generator

In [145]:
print(gen)

<generator object <genexpr> at 0x011531F0>

In [146]:
for x in gen:
    print(x)

1
4
9
16
25
36

In [149]:
list( x**3 for x in range(1,10) if x%2==0)

# the above is actually a list. Don't be confused by the "()" brackets. That is a generator

[8, 64, 216, 512]

#### Filter, Map, Reduce

In [150]:
# Filter and Map are higher order functions: they take other functions as arguments

In [151]:
# You can pass functions using names or lambdas

In [159]:
numbers = [11,12, 13, 14, 15, 16, 90, 75]

def is_even(x):
    return x%2==0

list(filter(is_even, numbers))

[12, 14, 16, 90]

In [161]:
[item for item in numbers if is_even(item)] # list comprehension for the same as above

[12, 14, 16, 90]

In [167]:
list(filter( lambda x: x%2==0 , numbers)) # lambda expression for the same

[12, 14, 16, 90]

In [165]:
list(map( lambda x: x%2==0 , numbers)) # returns TRUE or FALSE for each number

[False, True, False, True, False, True, True, False]

In [164]:
list(map( lambda x: x**2 , numbers)) # evaluates for each number

[121, 144, 169, 196, 225, 256, 8100, 5625]

In [168]:
list(filter( lambda x: x**2 , numbers)) # does nothing

[11, 12, 13, 14, 15, 16, 90, 75]

In [171]:
# Combining filter and map

list(map(lambda x: x*10,
        filter(lambda x: x%2==0, numbers)
        ))

[120, 140, 160, 900]

In [173]:
[x*10 for x in numbers if x%2==0] # same achieved through list-comprehension

[120, 140, 160, 900]

In [175]:
%timeit list(map(lambda x: x*10, filter(lambda x: x%2==0, numbers)))

8.89 µs ± 1.13 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [176]:
%timeit [x*10 for x in numbers if x%2==0]

3.36 µs ± 260 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [182]:
numbers = [1,2,3,4,5]

list(map(lambda x: (x, x**2), numbers)) # generating a pair of tuples for each number and its result

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [183]:
colours = ['orange', 'Blue', 'Red', 'green', 'black']

min(colours)

'Blue'

In [185]:
min(colours, key = lambda s: s.lower()) # lambda function to first convert to lower case and then compare

'black'

In [190]:
names = ['nikhil', 'ankit', 'sharma']

grade = ['A', 'AA', 'AAA', 'BBB']

zip(names, grade)

In [191]:
for name, grade in zip(names, grade):
    print(name, grade)

nikhil A
ankit AA
sharma AAA

In [196]:
[(a+b) for a,b in zip([1,2,3], [4,5,6])]

[5, 7, 9]

In [193]:
[[a+b] for a,b in zip([1,2,3], [4,5,6])]

[[5], [7], [9]]

In [194]:
[a+b for a,b in zip([1,2,3], [4,5,6])]

[5, 7, 9]

In [199]:
list_2d = [[1,2,3], [4,5,6], [7,8,9]]

for i, row in enumerate(list_2d):
    for j, item in enumerate(row):
        print(f'[{i}][{j}]={item}')

[0][0]=1
[0][1]=2
[0][2]=3
[1][0]=4
[1][1]=5
[1][2]=6
[2][0]=7
[2][1]=8
[2][2]=9

#### Die rolling

In [200]:
import random

In [220]:
die_data={}

for i in range(100000):
    x=random.choice([1,2,3,4,5,6])
    die_data.setdefault(x,0)
    die_data[x] += 1

print(die_data)

{4: 16576, 1: 16568, 2: 16560, 5: 16715, 3: 16955, 6: 16626}

In [224]:
value = die_data.keys()
frequency = die_data.values()

print(value, frequency)

dict_keys([4, 1, 2, 5, 3, 6]) dict_values([16576, 16568, 16560, 16715, 16955, 16626])

In [231]:
die_data_prctg = {}

die_data_prctg = die_data.copy()

for item in die_data:
    die_data_prctg[item] = die_data_prctg[item] / sum(die_data.values())
    
print(die_data_prctg)

{4: 0.16576, 1: 0.16568, 2: 0.1656, 5: 0.16715, 3: 0.16955, 6: 0.16626}

#### Counting words using Dictionary

In [240]:
sentence = input('Enter a sentence:')

word_count={}

for word in sentence.lower().split():
    word_count.setdefault(word, 0)
    word_count[word] += 1
    
print(word_count)

Enter a sentence:This way we can see how this code works while counting words in this notebook in this way
{'this': 4, 'way': 2, 'we': 1, 'can': 1, 'see': 1, 'how': 1, 'code': 1, 'works': 1, 'while': 1, 'counting': 1, 'words': 1, 'in': 2, 'notebook': 1}

#### Counting words using Counter

In [241]:
from collections import Counter

new_word_count = Counter(sentence.lower().split())

In [243]:
type(new_word_count)

collections.Counter

In [244]:
print(new_word_count)

Counter({'this': 4, 'way': 2, 'in': 2, 'we': 1, 'can': 1, 'see': 1, 'how': 1, 'code': 1, 'works': 1, 'while': 1, 'counting': 1, 'words': 1, 'notebook': 1})

In [247]:
for word, count_of_word in new_word_count.items():
    print(f'{word}: {count_of_word:}')

this: 4
way: 2
we: 1
can: 1
see: 1
how: 1
code: 1
works: 1
while: 1
counting: 1
words: 1
in: 2
notebook: 1

#### Using Counter to count list of 50 randomly generated numbers between 1 and 5

In [256]:
list_of_nos = []

for i in range(0, 50):
    list_of_nos.append(random.randint(1,5))

print(list_of_nos)

[2, 5, 3, 1, 3, 2, 4, 3, 4, 2, 2, 1, 4, 4, 1, 1, 4, 3, 4, 2, 3, 4, 3, 2, 1, 2, 3, 5, 3, 3, 1, 5, 4, 4, 4, 4, 4, 2, 5, 4, 4, 5, 1, 1, 5, 4, 3, 5, 2, 5]

In [257]:
Counter(list_of_nos)

Counter({2: 9, 5: 8, 3: 10, 1: 8, 4: 15})

#### Using update in Dictionary

In [258]:
capitals = {'India':'Delhi', 'Gujarat':'Gandhinagar'}

In [259]:
capitals.update(India = 'New Delhi')

capitals

{'India': 'New Delhi', 'Gujarat': 'Gandhinagar'}

In [265]:
capitals.update({'Himachal Pradesh': 'Shimla'})

capitals

{'India': 'New Delhi', 'Gujarat': 'Gandhinagar', 'Himachal Pradesh': 'Shimla'}

In [267]:
capitals_new = {city: entity for entity, city in capitals.items()} # Swapping key-value pairs

print(capitals_new)

{'New Delhi': 'India', 'Gandhinagar': 'Gujarat', 'Shimla': 'Himachal Pradesh'}

#### Performing calculations on the 'values' in a dictionary

In [270]:
score = {'Nikhil': [70,58,28], 'Ankit': [99, 88, 77]}

average = {name: sum(avg)/len(avg) for name, avg in score.items()} # comprehension

print(average)

{'Nikhil': 52.0, 'Ankit': 88.0}

In [271]:
# Creating a dictionary using comprehension and performing calculations

cube_list = {x: x**3 for x in range(1,5)}

print(cube_list)

{1: 1, 2: 8, 3: 27, 4: 64}

#### Mutable set operators

In [273]:
numbers = {1,2,3}

numbers |= {3,4,5} #update

numbers

{1, 2, 3, 4, 5}

In [274]:
numbers.update([4,5,6,7])

numbers

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
&= # intersection update
-= # difference update
^= # symmetric difference update