In [1]:
import numpy as np
import pandas as pd
import random

In [3]:
f'{12.45:.3f}'

'12.450'

In [6]:
f'{110:c}'

'n'

In [7]:
f'{7}'

'7'

In [12]:
f'[{4.56: 12f}]'

'[    4.560000]'

In [13]:
f'[{"hello":12}]'

'[hello       ]'

In [10]:
f'[{88: 7d}]'

'[     88]'

In [14]:
f'[{88: <7d}]' #left aligned

'[88     ]'

In [15]:
f'[{88: >7d}]' #right aligned

'[     88]'

In [16]:
f'[{88: ^7d}]' #centre aligned

'[  88   ]'

In [25]:
f'[{88:+7d}]' #display plus sign if value is positive. No space after ":"

'[    +88]'

In [27]:
f'[{88:-7d}]' #display negative sign if value is negative. Here value is positive, hence no sign displayed

'[     88]'

In [28]:
f'[{-88:-7d}]'

'[    -88]'

In [30]:
f'[{123456:,d}]' # comma used for the thousands separator

'[123,456]'

In [34]:
f'[{123456.789:+18,.5f}]'

'[    +123,456.78900]'

In [35]:
s1 = 'a'
s1 *= 5 # multiplying strings by a number
s1

'aaaaa'

In [36]:
s1 = '   this is with many white space characters       '

In [37]:
s1.strip()

'this is with many white space characters'

In [38]:
s1.lstrip()

'this is with many white space characters       '

In [39]:
s1.rstrip()

'   this is with many white space characters'

In [53]:
ord('a')

97

In [54]:
sentence = 'this is a sample this this This statement typhoon Tatanka tyronausaurus'

sentence.count('this')

3

In [55]:
sentence.lower().count('this')

4

In [56]:
sentence.index('this')

0

In [57]:
sentence.rindex('this') # search from the right side

22

In [58]:
sentence.startswith('this')

True

In [59]:
sentence.endswith('why')

False

In [60]:
for x in sentence.split():
    print(x)

this
is
a
sample
this
this
This
statement
typhoon
Tatanka
tyronausaurus

In [61]:
for x in sentence.lower().split():
    if x.startswith('t'):
        print(f'Word \"{x}\" starts with t')

Word "this" starts with t
Word "this" starts with t
Word "this" starts with t
Word "this" starts with t
Word "typhoon" starts with t
Word "tatanka" starts with t
Word "tyronausaurus" starts with t

In [62]:
sentence

'this is a sample this this This statement typhoon Tatanka tyronausaurus'

In [66]:
sentence.replace("this", "that") # does not modify original variable

'that is a sample that that This statement typhoon Tatanka tyronausaurus'

In [67]:
sentence.split()

['this',
 'is',
 'a',
 'sample',
 'this',
 'this',
 'This',
 'statement',
 'typhoon',
 'Tatanka',
 'tyronausaurus']

In [71]:
sentence.split("this")

['', ' is a sample ', ' ', ' This statement typhoon Tatanka tyronausaurus']

In [73]:
sentence.split("this", 2) # specifies number of times the split should be performed

['', ' is a sample ', ' this This statement typhoon Tatanka tyronausaurus']

In [74]:
sentence

'this is a sample this this This statement typhoon Tatanka tyronausaurus'

In [75]:
sentence.partition("typhoon")

('this is a sample this this This statement ',
 'typhoon',
 ' Tatanka tyronausaurus')

In [78]:
part1, part2, part3 = sentence.partition("typhoon")

print(part1, part2, part3)

this is a sample this this This statement  typhoon  Tatanka tyronausaurus

In [80]:
"This is how\n you split lines".splitlines()

['This is how', ' you split lines']

In [92]:
', '.join(reversed('Pamela White'.split()))

'White, Pamela'

In [93]:
'889'.isdigit()

True

In [94]:
'This is statement with blanks'.isalnum()

False

In [96]:
x = r'using \backslash' # 'r' is for raw format
x

'using \\backslash'

In [97]:
import re

In [98]:
key = 'bcde'

'Match' if re.fullmatch(key, 'bcde') else 'No Match'

'Match'

In [100]:
'Match' if re.fullmatch(key, 'cd') else 'No Match'

'No Match'

In [101]:
'Match' if re.fullmatch(r'\d{5}', '01234') else 'No Match'

# The above matches 5 digits. So '01234' is five digits and hence it matches. Any five digits would match.

'Match'

In [103]:
'Match' if re.fullmatch(r'\d{5}', '0123') else 'No Match'

# Does not match because '0123' is four characters

'No Match'

In [106]:
'Match' if re.fullmatch('[A-Z][a-z]*', 'Nikhil') else 'No Match'

# [A-Z][a-z]* means 1st letter has to be upper case; 2nd letter onwards will be lower case
# The '*' indicates 0 or more characters

'Match'

In [113]:
'Match' if re.fullmatch('[A-Z][a-z]*[A-Z]*', 'NikhilSSSS') else 'No Match'

'Match'

In [115]:
'This' if re.fullmatch('[^A-Z]*', 'a') else 'That'
# ^ is for NOT. So in this case 'a' does not match A-Z, hence it is returning 'Match'

'This'

In [117]:
'This' if re.fullmatch('[^A-Z]*', 'abcAdef') else 'That'

'That'

In [121]:
'This' if re.fullmatch('[*+$]', '$') else 'That' #match '$' with any character in *+$ string

'This'

In [122]:
'This' if re.fullmatch('[A-Z][a-z]+', 'A') else 'That'

# '+' indicates at least 1 lower case letter from [a-z]. In this case it fails

'That'

In [123]:
'This' if re.fullmatch('[A-Z][a-z]+', 'Aa') else 'That' # in this case it passes

'This'

In [125]:
'This' if re.fullmatch('[A-Z][a-z]+', 'Aabcdef') else 'That' # this case too it passes

'This'

In [128]:
'This' if re.fullmatch('labell?ed', 'labelled') else 'That'

# '?' matches at zero or one of the preceding characters, in this case 'l'

'This'

In [129]:
'This' if re.fullmatch('labell?ed', 'labeled') else 'That'

'This'

In [131]:
'This' if re.fullmatch(r'\d{3,}', '123') else 'That' #3 or more digits should be present

'This'

In [132]:
'This' if re.fullmatch(r'\d{3,}', '1234567') else 'That'

'This'

In [133]:
'This' if re.fullmatch(r'\d{3,}', '12') else 'That'

'That'

In [135]:
'This' if re.fullmatch(r'\d{3,6}', '1234') else 'That' # digits should be 3 to 6 in length

'This'

In [136]:
'This' if re.fullmatch(r'\d{3,6}', '123456') else 'That'

'This'

In [137]:
'This' if re.fullmatch(r'\d{3,6}', '1234567') else 'That'

'That'

In [138]:
'123 Main Street' #separate the street number and stret name from this

'123 Main Street'

In [140]:
'This' if re.fullmatch(r'\d+ [A-Z][a-z]* [A-Z][a-z]*', '123 Main Street') else 'That'

'This'

In [141]:
re.sub('a', 'b', 'aaccddzz') #replace a by b in the provided string

'bbccddzz'

In [142]:
re.sub('a', 'b', 'aaddcczz', count=1) #replace a by by 1 times

'baddcczz'

In [147]:
re.split(',\s*', '1, 2, 3,      4,  5,6') #split the numbers which are unevenly separated by spaces

# the comma followed by zero or more spaces is taken as the 'splitting' parameter

['1', '2', '3', '4', '5', '6']

In [148]:
re.split('\d,\s*', '1, 2, 3,      4,  5,6') #now it adds the integer also to the 'splitting parameter'

['', '', '', '', '', '6']

In [149]:
re.split(',\s*', '1, 2, 3,      4,  5,6', maxsplit=2)

['1', '2', '3,      4,  5,6']

In [151]:
re.sub('\t+', ', ', 'A\tB\t\tCD\t\t\tEFG') #replace one or more tabs in the strings by comma + space

'A, B, CD, EFG'

In [155]:
re.split('\$+', '123$Main$$Street') #split at one or more occurences of '$'

['123', 'Main', 'Street']

In [158]:
result = re.search('python', 'Python is fun'.lower())

result.group() if result else 'None found'

'python'

In [159]:
result = re.search('Matlab', 'Python is fun'.lower())

result.group() if result else 'None found'

'None found'

In [160]:
result = re.search('python', 'Python is fun', flags=re.IGNORECASE)

result.group() if result else 'None found'

'Python'

In [161]:
result = re.search('^python', 'Python is fun'.lower()) # '^' is specifying to search at the beginning of the string

result.group() if result else 'None found'

'python'

In [162]:
result = re.search('^fun', 'Python is fun'.lower()) # '^' is specifying to search at the beginning of the string

result.group() if result else 'None found'

'None found'

In [163]:
result = re.search('python$', 'Python is fun'.lower()) # '$' is specifying to search at the end of the string

result.group() if result else 'None found'

'None found'

In [164]:
result = re.search('fun$', 'Python is fun'.lower()) # '$' is specifying to search at the end of the string

result.group() if result else 'None found'

'fun'

In [166]:
details = 'Nikhil Sharma has phone number 1234-567-89. His alternate number is 9878-574-05'

# extract the phone numbers from the above string

re.findall('\d{4}-\d{3}-\d{2}', details)

# this might lead to a very large list of numbers stored in a list if the original 'details' text has lot of fields

['1234-567-89', '9878-574-05']

In [167]:
# We can use itertools to circumvent the above problem

for phone in re.finditer('\d{4}-\d{3}-\d{2}', details):
    print(phone.group())

1234-567-89
9878-574-05

In [169]:
text = 'Nikhil Sharma, email: nikhilsharma@yahoooooo.com' #extract name and email

pattern = '([A-Z][a-z]+ [A-Z][a-z]+), email: (\w+@\w+\.\w{3})'

re.search(pattern, text).groups()

('Nikhil Sharma', 'nikhilsharma@yahoooooo.com')

In [175]:
# separate the phrase

phrase = '10 + 5'

pattern = '(\d+) ([+-/*]) (\d+)'

result = re.search(pattern, phrase)

result.groups()

('10', '+', '5')

In [176]:
result.group(1)

'10'

#### Data Munging / Data Wrangling

In [177]:
zip_codes = pd.Series({'Boston':   '02215', 'Miami': '3310'})

zip_codes

Boston    02215
Miami      3310
dtype: object

In [179]:
zip_codes.str.match('\d{5}') # check if number is 5-digit or not

Boston     True
Miami     False
dtype: bool

In [181]:
cities = pd.Series(['Boston,   MA 02215', 'Miami, FL 33101'])

cities

0    Boston,   MA 02215
1       Miami, FL 33101
dtype: object

In [197]:
cities.str.contains(r' [A-Z]{2} ') #contain looks within the whole phrase to search

0    True
1    True
dtype: bool

In [196]:
cities.str.match(r'  [A-Z]{2} ') #match matches the whole phrase

0    False
1    False
dtype: bool

#### Using MAP on a Data Frame

In [189]:
contacts = [['Mike Green',   'demo1@deitel.com', '5555555555'],
                ['Sue Brown',   'demo2@deitel.com', '5555551234']]

In [190]:
contactsdf = pd.DataFrame(contacts, columns=['Name', 'Email', 'Phone'])

contactsdf

         Name             Email       Phone
0  Mike Green  demo1@deitel.com  5555555555
1   Sue Brown  demo2@deitel.com  5555551234

In [192]:
def   get_formatted_phone(value):
        result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})',   value)
        return '-'.join(result.groups()) if   result else value

In [193]:
formatted_phone = contactsdf['Phone'].map(get_formatted_phone)

In [194]:
formatted_phone

0    555-555-5555
1    555-555-1234
Name: Phone, dtype: object

In [195]:
contactsdf['Phone'] = formatted_phone

contactsdf

         Name             Email         Phone
0  Mike Green  demo1@deitel.com  555-555-5555
1   Sue Brown  demo2@deitel.com  555-555-1234

In [201]:
contacts_new = [['Nikhil', 'nikhil@yahooooo.com', '1234567898'], ['Ankit', 'Ankit@mimimi.com', '8987654321']]

contacts_newdf = pd.DataFrame(contacts_new, columns=['Name','Email','Phone'])

contacts_newdf

     Name                Email       Phone
0  Nikhil  nikhil@yahooooo.com  1234567898
1   Ankit     Ankit@mimimi.com  8987654321